.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bdftruncate
bdftruncate.1
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fontutil.pc
install-sh
missing
stamp-h1
ucs2any
ucs2any.1
*~
*.o
font-util-*.tar.*
ChangeLog
tags
